/* div.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */


.card {
  display: inline-grid; 
  width: 18.5rem;
  height: 22.5rem;
  flex: 0 1 25%;   
  background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 2rem;
  margin-bottom: 2rem;
 
 }

.add-card {
  display: inline-grid; 
  width: 18.5rem;
  height: 22.5rem;
  flex: 0 1 25%;   
  background-color: #F5DEB3;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 2rem;
  margin-bottom: 2rem;
 
 }

 .add-card-text {
   font-family: 'Times New Roman';
   text-align: center;
   padding: 30px 0;
   font-size: 200px;
   color: #A9A9A9;
 }


 .card-title {
   color: #244D0C;
   font-size: 16px;
 }

 .card-text {
   font-size: 12px;
 }

 strong {
   color: #386B19; 
 }

 .text-muted {
   font-size: 11px;
 }
 

 /* Styling for grid in RecipeContainer.js  */

 div.recipe-collection {
   margin-left: 50px;
   margin: 2rem;
 }



/* Styling for the NewRecipeFrom  */

.form-container {
  margin-left: 50px;
  border-style: hidden;
  width: 55%;
}

.form-control {
  width: 75%;
  margin-bottom: 10px;
}