
body {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #95b0ca, #1f4d68);
  background: linear-gradient(to right, #95b0ca, #1a3544);
} 


.card {
  display: inline-grid; 
  width: 18.5rem;
  height: 22.5rem;
  flex: 0 1 25%;   
  background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 2rem;
  margin-bottom: 2rem;
 
 }

.add-card {
  display: inline-grid; 
  width: 18.5rem;
  height: 22.5rem;
  flex: 0 1 25%;   
  background-color: #F5DEB3;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 2rem;
  margin-bottom: 2rem;
 
 }

 .add-card-text {
   font-family: 'Times New Roman';
   text-align: center;
   padding: 30px 0;
   font-size: 200px;
   color: white;
 }

 .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
 }


 .card-title {
   color: #244D0C;
   font-size: 16px;
 }

 .card-text {
   font-size: 12px;
 }

 strong {
   color: #386B19;  
 }

 .text-muted {
   font-size: 11px;
 }
 

 /* Styling for grid in RecipeContainer.js  */

 div.recipe-collection {
   margin-left: 50px;
   margin: 2rem;
 }



/* Styling for the NewRecipeFrom  */

div.form-container {
  margin-top: 50px;
  margin-left: 280px;
  background-color: #244d0c;
  color: #FFF;
  width: 60%;
  display: flexbox;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.form-control {
  width: 100%;
  margin-bottom: 6px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.08);
}


h1.form-title {
  font-size: 28px;
  font-weight: 500;
  font-family: 'system-ui';
  color: #FFF;
  margin-bottom: 1rem;
}

.col-sm-2.col-form-label {
  color: #FFF;
  font-weight:500;
  margin-top: 10px;
}

.col-sm-4.col-form-label {
  color: #FFF;
  font-weight:600;
  margin-top: 10px;
  width: 100%;
}


.btn.btn-primary.mb-2 {
  background-color: #d7d8d5;
  color: rgb(44, 42, 42);
  font-weight: 600;
  border-style: none;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

::placeholder {
  font-weight:200;
}


